{% extends 'base.html.twig' %}

{% block title %}Hello SpaController!{% endblock %}





{% block body %}
<div class="container pt-4 pb-4">
<img src="{{asset('images/spa.png')}}" alt="">
</div>
{% endblock %}

