{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <h1>Faire une nouvelle Réservation</h1>

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('app_commande_index') }}">Retourner à la liste</a>
{% endblock %}
