{% extends 'base.html.twig' %}

{% block title %}Nouvelle Chambre{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle chambre</h1>

    {{ include('chambre/_form.html.twig') }}

    <a href="{{ path('app_chambre_index') }}">back to list</a>
{% endblock %}
